--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
sqlalchemy
python-dotenv
google-auth-oauthlib
google-api-python-client
groq
beautifulsoup4
chromadb
sentence-transformers
pytest
